* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(90, 84, 84);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header {
  width: 100%;
  box-shadow: 0.1px 5px 5px 1px whitesmoke;
  background: white;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  width: 90px;
  height: 90px;
}

.navbar {
  padding-top: 1rem;
}

ul {
  font-weight: bold;
  display: flex;
  gap: 3rem;
  padding-right: 1rem;
}

li {
  font-size: 1.1em;
  cursor: pointer;
}

li:hover {
  color: rgb(206, 40, 40);
}
.calls {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  padding-top: 8rem;
  background: rgb(250, 243, 240);
}

.cards {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 2rem;
}

.food-image {
  border-radius: 4%;
}

.food-details {
  padding-top: 5px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ratings {
  display: flex;
  gap: 4px;
}
